* {
  font-family: Helvetica;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 250px;
}

#navbar {
  border-bottom: 1px solid #ccc;
  padding: 1.5em;
  margin-bottom: 1em;
  background-color: #222;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#navbar a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

a {
  padding: 10px;
  text-decoration: none;
  color: #222;
  transform: 0.5s;
  transition: 0.5s;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a:hover {
  background-color: #ccc;
  color: #222;
}

h1 {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.form {
  width: 550px;
  margin: 0 auto;
  text-align: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.form-checkbox {
  flex-direction: row;
}

.form-checkbox input {
  margin-right: 10px;
}

.form-control input {
  padding: 5px;
  border: #222 2px solid;
  border-radius: 5px;
  margin-bottom: 15px;
}

.form-control input::placeholder {
  color: #c3c3c3;
  font-weight: 700;
}

.btn-submit {
  padding: 15px;
  background-color: #222;
  color: #fff;
  transform: 0.5s;
  transition: 0.5s;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-submit:hover {
  background-color: #ccc;
  color: #222;
}

/* Users */

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
}

.container .item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  flex: 1 1 29%;
  max-width: 29%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
}

.userAlone {
  border: solid 1px #222;
  border-radius: 5px;
  max-width: 250px;
  height: 280px;
  margin: 100px auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 25px;
}

/* address */

.address-container {
  max-width: 1300px;
  margin: 1em auto;
  padding-top: 1em;
  padding-bottom: 200px;
  border-top: 1px solid #ccc;
}

.address-container h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.address-container form {
  max-width: 450px;
  margin: 0 auto;
  padding-top: 35px;
}

.address-list {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #ddd;
  line-height: 25px;
}
